---
import Navbar from '../components/Navbar.astro';
import About from '../components/About.astro';
import Horarios from '../components/Horarios.astro'
import Footer from '../components/Footer.astro'
import Location from '../components/Location.astro';
import Specials from '../components/Specials.astro'
import Dishes from '../components/Dishes.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Navbar/>
	<div class="w-full h-[80vh] bg-[url('../src/images/dishes/hero.jpg')] bg-cover bg-bottom">
	</div>
	<Dishes />
	<Specials />
	<About />
	<Horarios />
	<Location />
	<Footer />
</Layout>
