<section id="acerca" class="flex flex-col p-10 h-screen">
  <div class="space-y-5">
    <h1 class="text-5xl font-light">Eucalyptus</h1>
    <p class="text-xl lg:w-[44vw] w-[80vw] font-medium text-black/75">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, atque.
      Tempora, velit quis excepturi repellendus nihil ea est impedit eaque.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit,
      exercitationem?
    </p>
    <div class="h-[40vh] sm:h-[50vh] bg-[url('../src/images/desserts/dessert4.jpg')] bg-cover bg-center rounded-lg">
      <div class="h-full flex flex-col justify-end">
        <h1 class="sm:text-4xl text-xl text-[#f2f2f2] p-4 font-medium bg-black/70 rounded-lg">Lorem ipsum dolor sit amet consectetur. <span class="block sm:text-xl text-sm font-extralight">lorem ipsum dolor sit amet.</span></h1>
      </div>
    </div>
    
</section>
