<section class="flex flex-col items-center h-screen">
  <h1 class="text-5xl font-light p-10">Postres</h1>
  <div
    class="text-lg text-center grid grid-flow-col grid-rows-2 gap-x-5 gap-y-20"
  >
    <div class="w-full h-[35vh]">
      <img
        class="w-full h-full object-cover"
        src="../src/images/desserts/dessert1.jpg"
        alt="postre 1"
      />

      <h1 class="text-4xl">Torta helada</h1>
      <p class="w-140 font-extralight">
        Descripcion breve del postre lorem ipsum dolor isnet. Descripcion breve
        del postre lorem ipsum dolor isnet.
      </p>
    </div>
    <div class="w-full h-[35vh]">
      <img
        class="w-full h-full object-cover"
        src="../src/images/desserts/dessert2.jpg"
        alt="postre 1"
      />

      <h1 class="text-4xl">Torta helada</h1>
      <p class="w-140 font-extralight">
        Descripcion breve del postre lorem ipsum dolor isnet. Descripcion breve
        del postre lorem ipsum dolor isnet.
      </p>
    </div>
    <div class="w-full h-[35vh]">
      <img
        class="w-full h-full object-cover"
        src="../src/images/desserts/dessert3.jpg"
        alt="postre 1"
      />

      <h1 class="text-4xl">Torta helada</h1>
      <p class="w-140 font-extralight">
        Descripcion breve del postre lorem ipsum dolor isnet. Descripcion breve
        del postre lorem ipsum dolor isnet.
      </p>
    </div>
    <div class="w-full h-[35vh]">
      <img
        class="w-full h-full object-cover"
        src="../src/images/desserts/dessert4.jpg"
        alt="postre 1"
      />
    </div>
  </div>
</section>
