---
import { Image } from "astro:assets";
import dish1 from '/public/images/dishes/dish1.jpg'
import dessert1 from '/public/images/desserts/dessert2.jpg'
import dessert2 from '/public/images/desserts/dessert3.jpg'
import dish2 from '/public/images/dishes/dish3.jpg'
---
<section id="horarios" class="h-screen bg-[#f2f2f2] relative">
        <h1 class="sm:p-12 py-10 sm:text-5xl text-4xl text-center sm:text-start font-extralight">Horarios & Reservas</h1>
        <div class="w-full flex flex-row items-center justify-center sm:space-x-30 space-x-10 sm:text-3xl text-xl text-center font-light">
          <div class="flex flex-col space-y-4 sm:w-60 w-[42vw]">
            <h1 class="border-b-2 border-gray-600/50">Lunes & Viernes</h1>
            <p>9:00 - 14:00</p>
            <p>19:00 - 00:00</p>
          </div>
          <div class="flex flex-col space-y-4 sm:w-60 w-[42vw]">
            <h1 class="border-b-2 border-gray-600/50">Sabados</h1>
            <p>10:00 - 13:00</p>
            <p>20:00 - 01:00</p>
          </div>
        </div>
        </div>
        <div class="flex items-center justify-center sm:p-12 p-2 text-center"><h1 class="text-2xl sm:text-4xl font-extralight border-b-2 border-gray-500">Reservas al <span class="block font-light sm:text-2xl text-xl sm:mt-2">2972594455</span></h1 >
        <div class="grid grid-flow-row sm:grid-cols-4 grid-cols-2 absolute bottom-0 border-t-2 border-b-2 border-gray-500">
            <div class="w-full sm:h-[40vh] h-[26vh]">
                <Image src={ dish2 }
                  class="w-full h-full object-cover"
                  alt="postre 1"
                />
              </div>
              <div class="w-full sm:h-[40vh] h-[26vh]">
                <Image src={ dessert2 }
                  class="w-full h-full object-cover"
                  alt="postre 1"
                />
              </div>
              <div class="w-full sm:h-[40vh] h-[26vh]">
                <Image src={ dessert1 }
                  class="w-full h-full object-cover"
                  alt="postre 1"
                />
              </div>
              <div class="w-full sm:h-[40vh] h-[26vh]">
                <Image src={ dish1 }
                  class="w-full h-full object-cover"
                  alt="postre 1"
                />
              </div>
        </div>
    </div>
</section>