<section id="ubicacion" class="flex flex-col items-center h-[70vh] space-y-5 text-center">
    <h1 class="text-5xl font-extralight mt-5 flex flex-col">Donde encontrarnos</h1>
    <div class="flex w-full items-center justify-center max-w-4xl h-[55vh] rounded-2xl overflow-hidden">
        <iframe
          class="md:w-full w-[90vw] md:h-full h-[50vh] border-0 rounded-lg"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12361.310690515069!2d-71.34726231184834!3d-40.155302202612305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96110e743605d0c7%3A0x71c43ffb1c66bc3a!2sSan%20Mart%C3%ADn%20de%20los%20Andes%2C%20Neuqu%C3%A9n!5e0!3m2!1ses!2sar!4v1761436600052!5m2!1ses!2sar"
        ></iframe>
      </div>
</section>