
<div class="h-[20vh] w-full flex flex-col py-5">
  <div class="flex flex-col items-center">
    <h1 class="text-6xl font-extralight">Eucalyptus</h1>
    <span class="text-lg font-light mt-2">Cocina culinaria</span>
  </div>
</div>

<nav class="relative w-full">
  <div
    class="hidden sm:flex justify-evenly items-center text-xl px-10 py-6 font-medium"
  >
    <a href="#carta" class="">Carta</a>
    <a href="#especiales" class="">Especiales</a>
    <a href="#acerca" class="">Acerca</a>
    <a href="#horarios" class="">Horarios & Reservas</a>
    <a href="#ubicacion" class="">Ubicación</a>
  </div>
  <button
    id="menu-btn"
    type="button"
    aria-label="Toggle menu"
    class="hover:cursor-pointer fixed bottom-6 right-6 z-30 p-3 rounded-full bg-black text-white shadow-lg sm:hidden"
  >
    <svg
      id="icon-open"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-7 h-7"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
    <svg
      id="icon-close"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-7 h-7 hidden"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
  <div
    id="mobile-menu"
    class="fixed inset-0 bg-black/85  backdrop-blur-sm text-white flex flex-col items-center justify-center space-y-6 text-4xl font-light hidden z-20 sm:hidden"
  >
    <a href="#carta" class="menu-link underline">Carta</a>
    <a href="#especiales" class="menu-link underline">Especiales</a>
    <a href="#acerca" class="menu-link underline">Acerca</a>
    <a href="#horarios" class="menu-link underline">Horarios & Reservas</a>
    <a href="#ubicacion" class="menu-link underline">Ubicación</a>
  </div>
</nav>


<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("menu-btn");
    const menu = document.getElementById("mobile-menu");
    const iconOpen = document.getElementById("icon-open");
    const iconClose = document.getElementById("icon-close");
    const links = document.querySelectorAll(".menu-link");

    function toggleMenu() {
      menu.classList.toggle("hidden");
      iconOpen.classList.toggle("hidden");
      iconClose.classList.toggle("hidden");
    }

    btn.addEventListener("click", toggleMenu);
    links.forEach((link) => {
      link.addEventListener("click", () => {
        if (!menu.classList.contains("hidden")) toggleMenu();
      });
    });
  });
</script>
