<containe id="especiales" class="flex flex-col items-center lg:h-screen">
  <h1 class="text-5xl font-extralight mb-5 p-10">Especiales</h1>
  <div class="flex flex-col items-center w-full px-10 space-y-20">
    <div class="flex lg:flex-row flex-col justify-evenly">
      <div class="lg:w-[35vw] w-[90vw] h-[40vh] lg:h-[35vh] bg-[url('../images/dishes/dish4.jpg')] bg-cover bg-center rounded-lg shadow-md hover:scale-101 duration-300 ease-out hover:shadow-black/15 hover:shadow-lg">
      </div>
      <div class="flex flex-col lg:ps-7 lg:mt-0 mt-5 p-2 lg:w-140">
        <h1 class="flex lg:justify-start justify-center text-center font-light text-3xl">Especial 1</h1>
        <p class="text-lg font-extralight w-full text-center lg:text-start">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quibusdam nostrum corporis ratione perferendis eaque.
        </p>
    </div>
    </div>
    <div class="flex lg:flex-row flex-col justify-evenly">
      <div class="flex-col justify-start items-start lg:pe-7 p-2 hidden lg:flex w-140">
        <h1 class="flex lg:justify-start justify-center font-light text-3xl">Especial 2</h1>
        <p class="text-lg font-extralight w-full text-end lg:text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt laboriosam quo repellat perferendis, soluta itaque! </p>
    </div>
    <div class="lg:w-[35vw] w-[90vw] h-[40vh] lg:h-[35vh] bg-[url('../images/dishes/dish2.jpg')] bg-cover bg-center rounded-lg shadow-md hover:scale-101 duration-300 ease-out hover:shadow-black/15 hover:shadow-lg">
    </div>
      <div class="flex-col lg:pe-7 lg:mt-0 mt-5 p-2 lg:hidden">
        <h1 class="flex lg:justify-start justify-center text-center font-light text-3xl">Especial 2</h1>
        <p class="text-lg font-extralight lg:w-120 w-full text-center lg:text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo laudantium ducimus asperiores atque mollitia aperiam. </p>
    </div>
    </div>
  </div>
</container>

